<ion-header [translucent]="true" class="header-fix">
  <ion-toolbar>
    <ion-title>Ingresar</ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" color="danger" (click)="volverAlHome()">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        Volver Atrás
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding content-with-safe-area">
  <div class="login-container">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Bienvenido</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <ion-item>
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-input
              label="Correo Electrónico"	
              labelPlacement="floating"
              type="email"
              formControlName="email"
              required
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-input
              label="Contraseña"
              labelPlacement="floating"
              type="password"
              formControlName="password"
              required
            ></ion-input>
          </ion-item>

          <ion-button expand="block" type="submit" class="login-button">
            Ingresar
          </ion-button>
        </form>

        <ion-text color="medium" class="ion-text-center">
          <p>O autocompletá con:</p>
        </ion-text>

        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <ion-button
                size="small"
                expand="block"
                (click)="autocompletarLogin('gian@gmail.com')"
              >
                Cuenta 1
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button
                size="small"
                expand="block"
                (click)="autocompletarLogin('gian2@gmail.com')"
              >
                Cuenta 2
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button
                size="small"
                expand="block"
                (click)="autocompletarLogin('gian3@gmail.com')"
              >
                Cuenta 3
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <p *ngIf="errorMessage" class="error-text">
          {{ errorMessage }}
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
