@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
ion-content {
    --background: rgb(250, 5, 54);
    font-family: 'Nunito', sans-serif !important;
}

@-webkit-keyframes rotate-in-center{0%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg);opacity:0}100%{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}}@keyframes rotate-in-center{0%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg);opacity:0}100%{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}}
.container{
    -webkit-animation:rotate-in-center .6s cubic-bezier(.25,.46,.45,.94) both;animation:rotate-in-center .6s cubic-bezier(.25,.46,.45,.94) both
        
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
  
.animated-content img {
    height: 150px;
    margin: 20px 0;
}
  
.nombre {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}
  
.subtexto {
    font-size: 18px;
    margin-top: 30px;
    font-weight: bold;
}
  