<ion-header [translucent]="true" class="header-fix">
  <ion-toolbar>
    <ion-title>Tabla Didáctica</ion-title>

    <ion-buttons slot="end">
      <ion-button 
        class="logout-button"
        *ngIf="user" 
        size="small" 
        color="close" 
        (click)="logout()">
        <img src="assets/door.png">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-y="false" class="ion-padding content-with-safe-area">
  <div *ngIf="!user" id="container">
    <h1 class="titulo-inicio">BIENVENIDO</h1>
    
    <p class="descripcion-inicio">Debes estar registrado para poder utilizar la app.</p>

    <ion-button class="boton-inicio" size="big" (click)="goToLogin()">Iniciar Sesión</ion-button>
    <ion-button class="boton-inicio"size="big" (click)="goToRegister()">Crear una Cuenta</ion-button>
  </div>

  <ng-container *ngIf="user">
    <div class="cards-container">
      <div class="cards" *ngIf="selectedTheme">
        <ion-button class="card ion-margin-bottom" [id]="card" *ngFor="let card of cardsElegidas" (click)="pressCard(card)"
          [disabled]="!selectedLanguage">
          <img [src]="'../../assets/cards/' + selectedTheme + '/' + card + '.png'">
        </ion-button>
      </div>
    </div>
  
    <!-- Botones flotantes de idiomas -->
    <ion-fab slot="fixed" vertical="top" horizontal="start" class="topics ion-padding-top">
    <ion-fab-button>
      <img [src]="getLanguageIcon()" [alt]="selectedLanguage" />
    </ion-fab-button>

    <!-- Versión en horizontal si está en portrait -->
    <ion-fab-list *ngIf="isPortrait" side="end">
      <ion-fab-button *ngIf="selectedLanguage !== 'es'" (click)="changeLanguage('es')">
        <img src="assets/flags/sp.png" alt="Español" />
      </ion-fab-button>
      <ion-fab-button *ngIf="selectedLanguage !== 'en'" (click)="changeLanguage('en')">
        <img src="assets/flags/uk.png" alt="Inglés" />
      </ion-fab-button>
      <ion-fab-button *ngIf="selectedLanguage !== 'pt'" (click)="changeLanguage('pt')">
        <img src="assets/flags/pt.png" alt="Portugués" />
      </ion-fab-button>
    </ion-fab-list>

    <!-- Versión vertical si está en landscape -->
    <ion-fab-list *ngIf="!isPortrait" side="bottom">
      <ion-fab-button *ngIf="selectedLanguage !== 'es'" (click)="changeLanguage('es')">
        <img src="assets/flags/sp.png" alt="Español" />
      </ion-fab-button>
      <ion-fab-button *ngIf="selectedLanguage !== 'en'" (click)="changeLanguage('en')">
        <img src="assets/flags/uk.png" alt="Inglés" />
      </ion-fab-button>
      <ion-fab-button *ngIf="selectedLanguage !== 'pt'" (click)="changeLanguage('pt')">
        <img src="assets/flags/pt.png" alt="Portugués" />
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
    <!-- Botones flotantes de temas -->
    <ion-fab slot="fixed" vertical="top" horizontal="end" class="langs ion-padding-top">
    <ion-fab-button>
      <img [src]="getThemeIcon()" [alt]="selectedTheme" />
    </ion-fab-button>

      <ion-fab-list *ngIf="isPortrait" side="start">
        <ion-fab-button (click)="changeTheme('colors')">
          <img src="assets/temas/colors.png" alt="Colores" />
        </ion-fab-button>
        <ion-fab-button (click)="changeTheme('numbers')">
          <img src="assets/temas/numbers.png" alt="Números" />
        </ion-fab-button>
        <ion-fab-button (click)="changeTheme('animals')">
          <img src="assets/temas/animals.png" alt="Animales" />
        </ion-fab-button>
      </ion-fab-list>

      <ion-fab-list *ngIf="!isPortrait" side="bottom">
        <ion-fab-button (click)="changeTheme('colors')">
          <img src="assets/temas/colors.png" alt="Colores" />
        </ion-fab-button>
        <ion-fab-button (click)="changeTheme('numbers')">
          <img src="assets/temas/numbers.png" alt="Números" />
        </ion-fab-button>
        <ion-fab-button (click)="changeTheme('animals')">
          <img src="assets/temas/animals.png" alt="Animales" />
        </ion-fab-button>
      </ion-fab-list>
      
    </ion-fab>
  </ng-container>
</ion-content>
